.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.youtube-page,
.container.rebirth-page,
.container.catalyst-page {
    .text-zone {
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: "Coolvetica";
            color: #fa3459;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: -10px;
        }

        p {
            font-size: 21px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            max-width: fit-content;
            animation: pulse 1s;
        }
    }

    .player-zone {
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    .image-zone {
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        img {
            height: 700px;
            padding-left: 100px;
            animation: fadeIn 1s forwards;
            -webkit-animation: spin 2s forwards;
            -moz-animation: spin 2s forwards;
            animation: spin 2s forwards;
        }
        @-moz-keyframes spin {
            100% {
                -moz-transform: rotate(5deg);
            }
        }
        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(5deg);
            }
        }
        @keyframes spin {
            100% {
                -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
            }
        }
    }
}
