.container.rebirth-page {
    .text-zone {
        a {
            color: #fa3459;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #fa3459;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;

            &:hover {
                color: #fff;
                background: #fa3459;
            }
        }
    }

    .image-zone {
        img {
            padding-left: 0;
        }
    }
}
